<div>
    <h2>{{'Directives in Angular' | uppercaseText }}</h2>
    <p>In Angular, Directives are defined as classes that can add new behavior to the elements in the template or modify
        existing behavior. The purpose of Directives in Angular is to maneuver the DOM, be it by adding new elements to
        DOM or removing elements and even changing the appearance of the DOM elements.7 Aug 2023</p>
    <!-- ngclass is attribute directive -->
    <button class=" font-style" (click)="displaybutton()">More About Directives</button>
</div>
<div *ngIf="display"  [ngStyle]="{'backgroundColor': 'grey'}">
    We can deep dive into directives, as there are three types of directives:
    <p *ngFor="let item of ['Attribute','Structural','Custom']">
        {{item}}
    </p>
</div>

