<div>
    <h2>{{'Bindings in Angular' | uppercaseText }}</h2>
    <p>Angular uses the concept of two-way binding. Any UI element-related change is reflected in the corresponding and
        specific model state. Conversely, any model state changes reflect in the UI state. This ensures that the
        framework is able to connect the DOM to the Model data with the help of the controller.20 Jul 2023</p>
    <!-- ngStyle and Ngclass are attribute directives -->
    <button [ngStyle]="{'font-style' : 'italic'}" class="btn-green"  >Click Me </button>
</div>