<h1>{{ 'Angular' | uppercaseText }}</h1>
<div>
  <h2>{{'Angular' | uppercaseText }}</h2>
  <p>Angular is an open-source, JavaScript framework written in TypeScript. Google maintains it, and its primary purpose
    is to develop single-page applications. As a framework, Angular has clear advantages while also providing a standard
    structure for developers to work with.24 Jul 2023</p>
  <!-- ng class is an attribute directive -->
  <button (click)="onclick()" >Click ME!!</button>
</div>
<br>
<app-comp1></app-comp1>
<br>
<app-comp2></app-comp2>
<br>
<!-- [ngClass]="['btn-green','font-style']" -->
