div {
    padding: 10px 10px 10px 10px;
    background-color: beige;
}

h1 {
    margin-left: 40vw;
    color: brown;
}
button{
    padding: 5px 5px 5px 5px;
}

.btn-green {
    color: green;
}

.font-style {
    font-style: italic;
    font-weight: bold;
}